<h1>Registration Number:</h1>
<form method="post" action="/reg_numbers" class="form">

    <div class="choices">
        <input type="text" name="regNumber" value="" required="" placeholder="type the registration number">
        <button type="submit" required="" >ADD</button> <br><br>

    </div>
</form>
<form class="form" action="/selectTown" method="post">
  <center>
  <input type="radio" name="town" value="CK">Malmesbury</input>
  <input type="radio" name="town" value="CY">Bellville</input>
  <input type="radio" name="town" value="CA">Cape Town</input>
  <!-- <input type="radio" name="town" value="All">All</input> -->
  <button type="submit">filter</button>
</center>
</form>

<form class="forn" action="/all" method="post">
  <center>
  <button type="submit" name="button">Show All</button>
</center>
</form>


<center>
    {{#each displayReg}}
      <div class="displayRe">
    {{this.name}}
  </div><br><br>
    {{/each}}
</center>
