<h1>Registration Number:</h1>
<form method="post" action="/reg_numbers" >

    <div class="choices">
      <input type="text" name="name" value=""placeholder="type the registration number" >
      <button type="submit" name="name">ADD</button>  <br><br>
      <input type="radio" name="" value="">Malmesbury</input>
      <input type="radio" name="" value="">Bellville</input>
      <input type="radio" name="" value="">Cape Town</input>
      <input type="radio" name="" value="">All</input>
      <!-- <button type="submit" name="button">Show All</button> -->
    </div>
     <center>{{#each displayReg}}
     <ul>
      <li>{{this}}</li>
     </ul>
     {{/each}}
   </center>

</form>
